# Virtual Environment Ignores
venv/*
!venv/README.md

# Python artifact files
*__pycache__*
*.egg-info

# Application artifact files
*.txt
*.csv
temp/*

# GRPC artifact files
beams/sequencer/remote_calls/*_pb2*.py*

# Test file...
*eggs.json
